@{
    ViewData["Title"] = "About";
}
<div class="jumbotron">
    <h2>Kontakt</h2>
    <h2>Meil on alati hea meel teid näha</h2>
    </div>

    <address>
        <h4>Tööaeg:</h4>
        <p>E-R: 10:00 - 18:00</p>
        <p>L-P: Suletud</p>
        <br />
        <h4>Aadress:</h4>
        <p>Tähesaju tee 9-8, 13917 Tallinn, Estonia</p>
        <abbr title="Phone">Tel: +372 1245 1784</abbr><br />
        <strong>Email :</strong><a href="velo@gmail.com">velo@gmail.com</a>
        <br />
        
    </address>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3411.4327206368657!2d24.851612502989028!3d59.44224657745061!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4692ecee2c28361f%3A0x6a8b0e5b270f0338!2sSkiBikemarathon%20O%C3%9C!5e0!3m2!1set!2see!4v1666678867978!5m2!1set!2see" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>