@{
    ViewData["Title"] = "Hooldus";
}
<div class="text-center">
    <h1 class="display-4">Hooldus</h1>
</div>

<h2>Jalgrataste remont ja hooldus</h2>
<br />
<div id="hoolduslite">
<strong style="">Hooldus Lite 40 €</strong>

<p>Rataste sirgendamine ja reguleerimine, käikude ja pidurite reguleerimine,
 rataste pumpamine, jalgratta seisundi hindamine, lihtsate komponentide(kett, Piduriklotsid, kaablid jne) asendamine.).</p>
 <p style="font-style: italic; font-size: 16px">Varuosade maksumus ei sisaldu hinnas.</p>
 </>
</div>
 <div id="hoolduspremium">
 <br />

<strong style="">Hooldus Premium 89 €</strong>

<p>Rataste redigeerimine ja reguleerimine, käikude ja pidurite reguleerimine, rataste pumpamine, 
    lihtsate komponentide vahetus (kett, piduriklotsid, trossid jne) puhastamine / määrimine / rooliotsa reguleerimine, 
    puhastamine / määrimine / vankri reguleerimine, puhastamine / määrimine / reguleerimine esi- ja tagaratta puksid, 
    esikäikude ja mõlema käiguvahetaja puhastamine, vigaste või valesti käituvate komponentide väljavahetamine.</p>
 <p style="font-style: italic; font-size: 16px">Varuosade maksumus ei sisaldu hinnas.</p>
 </div>


 <a href="/Kasutajas/Create">
 <button class="cybr-btn" >
  Registreerimine<span aria-hidden></span>
  <span aria-hidden class="cybr-btn__glitch">Registreerimine</span>
</button>
</a>

