@{
    ViewData["Title"] = "Peamine";
}

<div class="text-center">
    <h1 class="display-4">Tere tulemast!</h1>
    <h2>Jalgratta hooldus ja rentimine</h2>
</div>
<br />
<br />
<div class="block-left">
    <h2>Siin saate rentida ja hooldada oma jalgratast</h2>
</div>
<div class="block-right">
    <h2>Meil on lahke ja abivalmis personal.</h2>
</div>


<img src="@Url.Content("~/Image/icon.jpg")" Height="200" Width="300">