@{
    ViewData["Title"] = "Peamine";
}

<div class="text-center">
    <h1 class="display-4">Tere tulemast!</h1>
    <h2>Jalgratta hooldus</h2>
</div>
<br />
<br />
<div class="block-left">
    <h2>Hooldus ja remont</h2>
    <p>Töökojas saab parandada nii uusi kui vanu rattaid! Praegu on kõik rattahooldusteenused ilma pika järjekorrata. Võtke meiega julgelt ühendust, et enne talve oma ratas üle vaadata.ratast.</p>
</div>
<div class="block-right">
    <img style="margin-right: 45px; margin-left: 10px;" width="300" height="300" src="Image/Icon.png" />
</div>
