@model Jalgratta.Models.Teenusetelimus

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Teenusetelimus</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TootajadId" class="control-label"></label>
                <select asp-for="TootajadId" class ="form-control" asp-items="ViewBag.TootajadId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TeenusId" class="control-label"></label>
                <select asp-for="TeenusId" class ="form-control" asp-items="ViewBag.TeenusId"></select>
            </div>
            <div class="form-group">
                <label asp-for="KasutajaId" class="control-label"></label>
                <select asp-for="KasutajaId" class ="form-control" asp-items="ViewBag.KasutajaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Kuupaev" class="control-label"></label>
                <input asp-for="Kuupaev" class="form-control" />
                <span asp-validation-for="Kuupaev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
